.enjoy {
  position: relative;
  margin-bottom: 100px;
  height: 644px;
  color: $text-light;

  &__img {
    width: 100%;
    height: 644px;
    border-radius: 40px;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 140px;
    width: 530px;
    min-height: 444px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__header {
    font-size: 72px;
    line-height: 75.6px;
  }

  &__paragraph {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  &__menu-btn {
    width: 200px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: none;
    background: $bg-body;
    font-size: 16px;
    line-height: 24px;
    color: $text-dark;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;

    span {
      transform: translateX(12px);
      transition: inherit;
    }

    .coffee-cup {
      opacity: 0;
      transition: inherit;
    }
  }
}

@media (hover: hover) {
  .coffee-cup:hover {
    span {
      transform: translateX(0);
    }

    .coffee-cup {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 900px) {
  .enjoy {
    &__content {
      left: 100px;
    }

    &__menu-btn {
      span {
        transform: translateX(0);
      }

      .coffee-cup {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .enjoy {
    &__content {
      left: 32px;
    }
  }
}

@media screen and (max-width: 630px) {
  .enjoy {
    height: 552px;

    &__img {
      height: 552px;
    }

    &__content {
      top: 60px;
      left: 32px;
      width: 83%;
      max-width: 566px;
      min-width: 310px;
    }

    &__header {
      font-size: 42px;
      line-height: 48.3px;
    }
  }
}