.enjoy {
  position: relative;
  margin-bottom: 100px;
  height: 644px;
  color: $text-light;

  &__img {
    width: 1360px;
    height: 644px;
    border-radius: 40px;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 100px;
    width: 530px;
    height: 444px;
  }

  &__header {
    margin-bottom: 40px;
    font-size: 72px;
    line-height: 75.6px;

    span {
      font-style: italic;
      color: $text-accent;
    }
  }

  &__paragraph {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  &__menu-btn {
    width: 200px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: none;
    background: $bg-body;
    font-size: 16px;
    line-height: 24px;
    color: $text-dark;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;

    .coffee-cup {
      display: none;
    }

    &:hover .coffee-cup {
      display: block;
    }
  }
}