@import './variables.scss';

.footer {
  margin-bottom: 40px;

  &-container {
    padding: 100px;
    min-height: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background: $bg-container;
    color: $text-light;
  }

  &__content {
    width: 530px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__header {
    color: $text-light;
  }

  &__socials {
    display: flex;
    gap: 12px;

    .socials-btn {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $border-light;
      border-radius: 50%;
      background: transparent;
      transition: 0.3s;
    }
  }

  &__contacts-info {
    width: 530px;

    h3 {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    line-height: 24px;

    li,
    a {
      position: relative;
      display: flex;
      gap: 8px;
      height: 28px;
      width: fit-content;
      transition: 0.3s;

      .line {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: $border-light;
        transition: 0.3s;
      }

      &:hover .line {
        width: 100%;
        left: 0;
      }

      img {
        width: 20px;
        height: 20px;
        margin-bottom: 4px;
      }
    }
  }
}

@media (hover: hover) {
  .socials-btn:hover {
    cursor: pointer;
    background-color: $bg-body;

    path {
      stroke: $text-dark;
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    &-container {
      padding: 100px 60px;
    }

    &__content,
    &__contacts-info {
      width: 568px;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    &-container {
      padding: 60px 16px;
      gap: 40px;
    }

    &__content,
    &__contacts-info {
      width: 100%;
    }
  }
}
