@import './variables.scss';

.header {
  display: grid;
  grid-template-columns: 100px minmax(450px, 1188px) 72px;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 0 40px;
  font-size: 16px;
  line-height: 24px;
  color: $text-dark;

  &__nav {
    display: flex;
    justify-content: center;
  }

  &__nav-list {
    display: flex;
    gap: 40px;
  }

  &__nav-item,
  &__menu-btn {
    position: relative;
    height: 28px;

    .line {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: $border-dark;
      transition: 0.3s;
    }
  }

  &__menu-btn {
    a {
      display: flex;
      width: 72px;
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      pointer-events: none;

      .line {
        width: 100%;
        left: 0;
      }
    }

    .coffee-cup {
      width: 20px;
      height: 20px;
    }
  }
}

.logo {
  height: 60px;
}

.burger-menu-btn {
  display: none;
}

@media(hover :hover) {
  .header__nav-item:hover .line,
  .header__menu-btn:hover .line {
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 900px) {
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__nav,
    &__menu-btn {
      display: none;
    }
  }

  .burger-menu-btn {
    display: block;
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 44px;
    height: 44px;
    border: 1px solid $border-dark;
    border-radius: 50%;

    &.active {
      & :first-child {
        transform: translateY(4.5px) rotate(45deg);
      }

      & :last-child {
        transform: translateY(-4.5px) rotate(-45deg);
      }
    }
  }

  .burger {
    &__line {
      width: 16px;
      border-bottom: 1.5px solid $text-dark;
      transition: 0.3s;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 16px;
  }

  .burger-menu-btn {
    right: 16px;
  }
}
