@import './variables.scss';

.shadow {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #403f3dcc;
  transition: 0.3s;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.menu {
  min-height: 782px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  &__top-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  &__header {
    max-width: 800px;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    .card {
      display: block;
      width: 310px;
      height: 506px;
      border-radius: 40px;
      border: 1px solid $border-light;
      cursor: pointer;

      &.hide {
        display: none;
      }

      &__img-container {
        width: 310px;
        height: 310px;
        border-radius: 40px;
        overflow: hidden;
      }

      &__img {
        width: 310px;
        height: 310px;
        border-radius: 40px;
        object-fit: cover;
        transform: scale(1.1);
        transition: 0.3s;
      }

      &__description {
        width: 310px;
        height: 196px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        p {
          height: 72px;
        }
      }

      &__price {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
      }
    }
  }
}

.tabs {
  display: flex;
  gap: 16px;
}

.tab-btn {
  height: 46px;
  padding: 8px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid $border-light;
  border-radius: 23px;
  background: transparent;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: $text-dark;
  transition: 0.3s;
  cursor: pointer;

  &__icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $border-light;
    color: $text-dark;

    img {
      width: 16px;
      height: 24px;
    }
  }

  &.active {
    border-color: $bg-container;
    background: $bg-container;
    color: $text-light;
    pointer-events: none;

    .tab-btn__icon {
      background: $bg-body;
    }
  }
}

#add {
  .tab-btn.active {
    pointer-events: all;
  }
}

.load-btn {
  display: none;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-dark;
  border-radius: 50%;
  background: transparent;

  &.show {
    display: flex;
  }
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 16px;
  border-radius: 40px;
  background: $bg-body;

  &.show {
    display: flex;
  }

  &__img {
    width: 310px;
    height: 310px;
    border-radius: 40px;
    object-fit: cover;
  }

  &__content {
    max-width: 458px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
  }

  &__header {
    margin-bottom: 12px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
      margin-bottom: 8px;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
  }

  &__alert {
    padding: 12px 0;
    display: flex;
    border-top: 1px solid $border-light;

    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }

    p {
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
    }
  }

  &__btn {
    height: 44px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    background: transparent;
    border: 1px solid $border-dark;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
  }
}

@media (hover: hover) {
  .tab-btn:hover,
  .modal__btn:hover {
    border-color: $bg-container;
    background: $bg-container;
    color: $text-light;

    .tab-btn__icon {
      background: $bg-body;
    }
  }

  .card:hover .card__img {
    transform: scale(1);
  }
}

@media screen and (max-width: 630px) {
  .menu {
    &__header {
      font-size: 32px;
      line-height: 40px;
    }

    &__tabs {
      gap: 8px;
    }
  }
}
