@import './variables.scss';

.menu {
  min-height: 1328px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  &__top-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  &__header {
    max-width: 800px;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
  }

  &__tabs {
    display: flex;
    gap: 16px;
  }

  .tab-btn {
    height: 46px;
    padding: 8px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid $border-light;
    border-radius: 23px;
    background: transparent;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: $text-dark;
    transition: 0.3s;
    cursor: pointer;

    &__icon {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $border-light;

      img {
        width: 16px;
        height: 24px;
      }
    }

    &.active {
      border-color: $bg-container;
      background: $bg-container;
      color: $text-light;
      pointer-events: none;

      .tab-btn__icon {
        background: $bg-body;
      }
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    .card {
      width: 310px;
      height: 506px;
      border-radius: 40px;
      border: 1px solid $border-light;
      cursor: pointer;

      &__img-container {
        width: 310px;
        height: 310px;
        border-radius: 40px;
        overflow: hidden;
      }

      &__img {
        width: 310px;
        height: 310px;
        border-radius: 40px;
        object-fit: cover;
        transform: scale(1.1);
        transition: 0.3s;
      }

      &__description {
        width: 310px;
        height: 196px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        p {
          height: 72px;
        }
      }

      &__header,
      &__price {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600px;
      }
    }
  }
}

.refresh-btn {
  display: none;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-dark;
  border-radius: 50%;
  background: transparent;
}

@media (hover: hover) {
  .tab-btn:hover {
    border-color: $bg-container;
    background: $bg-container;
    color: $text-light;

    .tab-btn__icon {
      background: $bg-body;
    }
  }

  .card:hover .card__img {
    transform: scale(1);
  }
}

@media screen and (max-width: 900px) {
  .menu {
    &__grid {
      max-height: 1052px;
      overflow: hidden;
    }
  }

  .refresh-btn {
    display: flex;
  }
}

@media screen and (max-width: 691px) {
  .menu {
    &__grid {
      max-height: 2144px;
    }
  }
}

@media screen and (max-width: 630px) {
  .menu {
    &__header {
      font-size: 32px;
      line-height: 40px;
    }

    &__tabs {
      gap: 8px;
    }
  }
}