@import './variables.scss';

.mobile {
  min-height: 630px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
  margin-bottom: 100px;

  &__content {
    width: 630px;
    min-height: 342px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__img {
    width: 630px;
    height: 630px;
  }

  &__btns-wrapper {
    display: flex;
    gap: 20px;
  }

  &__btn {
    display: flex;
    gap: 8px;
    width: 200px;
    height: 64px;
    padding: 12px 20px;
    border: 1px solid $border-dark;
    border-radius: 32px;
    background: transparent;
    transition: 0.3s;

    .btn-text {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      text-align: start;

      &_small {
        margin-bottom: 2px;
        font-size: 10px;
        line-height: 14px;
      }

      &_big {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

@media (hover: hover) {
  .mobile__btn:hover {
    cursor: pointer;
    background: $border-dark;

    .btn-text {
      color: $text-light;
    }

    path {
      fill: $text-light;
    }
  }
}

@media screen and (max-width: 900px) {
  .mobile {
    &__content {
      width: 688px;
    }
  }
}

@media screen and (max-width: 767px) {
  .mobile {
    &__content {
      width: 100%;
      min-width: 346px;
    }

    &__img {
      width: 348px;
      height: 348px;
    }
  }
}

@media screen and (max-width: 630px) {
  .mobile {
    gap: 40px;

    &__btns-wrapper {
      flex-wrap: wrap;
    }
  }
}